<%= render 'form' %>

<% Twitter.all.reverse_each do |kuritter| %>
<table class="content_table">
  <tr>
    <th rowspan="2"><%= image_tag 'acount/profile_logo.png', :size => '100x100' %></th>
    <td class="content_top">
      <ul>
        <li class="acount_name"><% if !current_user.nil? %><%= current_user.name %><% end %></li>
        <li><%= link_to '詳細', twitter_path(kuritter.id) %></li>
        <li><%= link_to "編集", edit_twitter_path(kuritter.id) %></li>
        <li><%= link_to '削除', twitter_path(kuritter.id), method: :delete %></li>
        <% if @favorite.present? && @favorite.twitter_id == kuritter.id%>
        <%= link_to 'お気に入り解除する', favorite_path(kuritter.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
        <%= link_to 'お気に入りする', favorites_path(twitter_id: kuritter.id), method: :post, class: 'btn btn-prymary' %>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td><%= kuritter.content %></td>
  </tr>
</table>
<% end %>
