<!DOCTYPE html>
<html>
<head>
  <title>BootstrapSeries2</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if logged_in? %>
  <header class="header clearfix">
    <nav class="row">
      <div class="col-5 row">
        <div class="col-3"><%= button_to "ホーム", twitters_path ,method: :get,:class => "btn btn-outline-primary" %></div>
        <div class="col-3"><%= button_to "通知",   twitters_path ,method: :get,:class => "btn btn-outline-primary" %></div>
        <div class="col-3"><%= button_to "モーメント", twitters_path ,method: :get,:class => "btn btn-outline-primary" %></div>
        <div class="col-3"><%= button_to "メッセージ", twitters_path ,method: :get,:class => "btn btn-outline-primary" %></div>
      </div>

      <div class="col-2">
        <a href="/twitters/index">
          <%= image_tag 'kuritter_icon.jpg', :size => '60x45', :class => "header_img"%>
        </a>
      </div>

      <div class="col-5 row">
        <div class="col-4"><%= button_to "ツイート", new_twitter_path, method: :get, :class => "btn btn-outline-primary"%></div>
        <div class="col-4"><%= button_to "アカウント",twitters_path,method: :get,:class => "btn btn-outline-primary" %></div>
        <div class="col-4"><%= button_to "ログアウト",session_path(current_user.id), :class => "btn btn-outline-primary", method: :delete%></div>
      </div>
    </nav>
  </header>
  <div class="wrapper row clearfix">
    <aside class="col-3 side_menu_left hidden-xs hidden-sm">
      <nav>
        <div class="side_menu_left_acount">
          <%= image_tag 'acount/plofile.jpg',:class => "profile_image" %>
          <h3><% if !current_user.nil? %><%= current_user.name %><% end %></h3>
        </div>
        <ul>
          <li><h3>おすすめトレンド</h3></li>
        </ul>
      </nav>
    </aside>
    <article class="content col-lg-6">
      <%= yield %>
    </article>
    <aside class="col-3 side_menu_right hidden-xs hidden-sm">
      <nav>
        <ul>
          <li><h3>おすすめユーザー</h3></li>
        </ul>
      </nav>
    </aside>
  </div>
  <% else %>
  <header class="header clearfix">
    <nav class="row">
      <div class="col-5 row">
        <div class="col-4"><%= button_to "Sign up", new_user_path ,method: :get,:controller => 'users' , :class => "btn btn-outline-primary" %></div>
        <div class="col-4"><%= button_to "Login"  , new_session_path ,method: :get,:class => "btn btn-outline-primary" %></div>
      </div>

      <div class="col-2">
        <a href="/twitters/index">
          <%= image_tag 'kuritter_icon.jpg', :size => '60x45', :class => "header_img"%>
        </a>
      </div>
    </nav>
  </header>
  <h3>ログインしてください</h3>
  <% end %>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
</body>
</html>
