<!DOCTYPE html>
<html>
<head>
  <title>RailsKadai</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header clearfix">
    <% if logged_in? %>
    <nav class="row">
      <div class="col-5 row">
        <div class="col-3"><%= button_to "ホーム", twitters_path ,method: :get,:class => "btn btn-outline-primary" %></div>
        <div class="col-3"><%= button_to "通知",   twitters_path ,method: :get,:class => "btn btn-outline-primary" %></div>
        <div class="col-3"><%= button_to "お気に入り", favorites_path ,method: :get,:class => "btn btn-outline-primary" %></div>
        <div class="col-3"><%= button_to "メッセージ", twitters_path ,method: :get,:class => "btn btn-outline-primary" %></div>
      </div>

      <div class="col-2">
        <a href="/twitters/index">
          <%= image_tag 'kuritter_icon.jpg', :size => '60x45', :class => "header_img"%>
        </a>
      </div>

      <div class="col-5 row">
        <div class="col-4"><%= button_to "ツイート", new_twitter_path, method: :get, :class => "btn btn-outline-primary"%></div>
        <div class="col-4"><%= button_to "アカウント",twitters_path,method: :get,:class => "btn btn-outline-primary" %></div>
        <div class="col-4"><%= button_to "ログアウト",session_path(current_user.id), :class => "btn btn-outline-primary", method: :delete%></div>
      </div>
    </nav>
    <% else %>
    <nav class="row">
      <div class="col-5 row">
        <div class="col-4"><%= button_to "Sign up", new_user_path ,method: :get,:controller => 'users' , :class => "btn btn-outline-primary" %></div>
        <div class="col-4"><%= button_to "Login"  , new_session_path ,method: :get,:class => "btn btn-outline-primary" %></div>
      </div>

      <div class="col-2">
        <a href="/twitters/index">
          <%= image_tag 'kuritter_icon.jpg', :size => '60x45', :class => "header_img"%>
        </a>
      </div>
    </nav>
    <% end %>
  </header>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <%= yield %>

  <footer class="footer">
    <p>名前：栗本 裕基  　　受講時期：2017/8/1 ～　</p>
  </footer>

</body>
</html>
